@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

body {
    padding-bottom: 50px;
}

#heroTxt {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

#heroCont {
    min-height: 186px;
    background-color: #009FFD;
    /* margin-bottom: 70px; */
}

#dirCont {
    padding-top: 40px;
    max-width: 1000px;
}

#pageNav {
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    overflow: hidden; /* For highlight */
}

th {
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #1145b5;
}

td {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
}


/* Below is for highlight */
td, th {
    position: relative;
}

th.highlight::after {
    content: "";
    position: absolute;
    background-color: #000e2d10;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr:hover {
    background-color: rgba(101, 207, 246, 0.261);
}