@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

#heroTxt {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

#heroCont {
    min-height: 186px;
    background-color: #009FFD;
    /* margin-bottom: 70px; */
}

#dirCont {
    padding-top: 40px;
    max-width: 1000px;
}

#pageNav {
    padding-top: 20px;
    padding-bottom: 20px;
}